.input-text-form-label {
    user-select: none;
    cursor: pointer;
    color: #eee;
}

.input-text-form {
    /* outline: none; */

    /* max-width: 128px; */
    width: auto;
    min-width: 80px;

    border: none;
    border-radius: 4px;
    padding: 7px 8px 4px 8px;

    background-color: #444;
    color: #eee;

    font-size: 16px;
}